<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">

<head>
    <title>Add Contact</title>
</head>

<body>
    <div id="content">
        <!-- if user is logged in : sidebar -->
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>
        <div class="sm:pl-64 pt-16" style="height: 1000px;">
            <div>
                <h1>This is add contact Page</h1>
            </div>
        </div>
    </div>


    <script>
        console.log("This is contact page");
    </script>
</body>

</html>