<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <title>Contact Us Page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to Contact Page..</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo enim delectus asperiores doloremque
            quidem culpa ut, et laborum possimus nemo?
        </p>
    </div>
    <script>
        console.log("Hello from Contact Page");
    </script>
</body>
</html>